.available-systems {
  width:73.4375%;
  min-height: 125px;
  margin: 0 auto;
  padding-bottom: 9.375%;
}
.available-systems__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 0;
  padding: 0;

  list-style: none;
}
.available-systems__item {
  padding: 10.9375%;

  &:first-child {
    background-image: url("../img/apple-logo.png");
    background-size: 71.42%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  &:nth-child(2) {
    background-image: url("../img/android-logo.png");
    background-size: 71.42%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
  &:nth-child(3) {
    background-image: url("../img/microsoft-logo.png");
    background-size: 71.42%;
    background-repeat: no-repeat;
    background-position: center bottom;
  }
}
.available-systems__desc {
  margin-top: 6.25%;

  line-height: 7.5vw;
  color: #ffffff;

  text-align: center;
}
