.contacts {
  position: relative;
}
.contacts__text {
  margin: 0;
  margin-top: 12.5vw;

  font-size: 7.5vw;
  line-height: 9.375vw;

  text-align: center;

}
.contacts__wrap {
  position: relative;
  z-index: 20;

  margin-top: 12.5vw;
}
.contacts__item {
  margin: 0;
  margin-bottom: 7.8125vw;
  padding: 0 9.375vw;

  font-size: 7.5vw;
  line-height: 9.375vw;
  color: #d22856;

  text-align: center;
  & b {
    display: block;

    font-size: 5.625vw;
    line-height: 7.5vw;
    color: @color-menu;
  }
  & a {
    display: block;

    font-size: 5.625vw;
    line-height: 7.5vw;
    color: #d22856;
    text-decoration: none;
  }
}
.contacts__map {
  position: relative;
  z-index: 10;

}
.contacts__marker {
  position: absolute;
  left: 44.375vw;
  bottom: 25vw;
  z-index: 30;

  width: 5vw;
  height: 5vw;

  background-color: #d22856;
  border: 3.125vw solid #ffffff;
  border-radius: 50%;
}
