.download-attachment__img {
  position: relative;
  z-index: 10;
}
.download-attachment__wrap {
  position: relative;

  width: 100%;
  min-height: 270px;
  margin-top: -38px;
  margin-bottom: -15px;

  z-index: 20;

  background-color: #1d2631;
  border-top: 1px solid transparent;
}
.download-attachment__button {
  margin: 30px auto;
}
