.download-attachment__img {
  position: relative;
  z-index: 10;
}
.download-attachment__wrap {
  position: relative;

  width: auto;
  min-height: 270px;
  margin-top: -4.6875vw;

  background-color: #1d2631;
  border-top: 1px solid transparent;
}
.download-attachment__button {
  margin: 9% auto;
}
