.main-nav {
  position: relative;
  left: 0;
  top: 0;

  display: none;
  width: auto;

  background-color: @color-menu;
}
.main-nav__wrap {
  display: flex;
  justify-content: space-between;
  padding: 6.25%;
  min-height: 65px;

  border-bottom: 1px solid #000000;
}
.main-nav__list {
  margin: 0;
  padding: 0;

  list-style: none;
}
.main-nav__item {
  box-sizing: border-box;
  width: 100%;
  padding: 6.25%;

  text-align: center;

  border-top: 1px solid #485461;
  border-bottom: 1px solid #000000;
}
.main-nav__link {
  font-size: 18px;
  line-height: 22px;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}
