.page-footer {
  margin: 40px auto;
}
.page-footer__logo {
display: block;
width: 150px;
margin: 0 auto;
}
.page-footer__list {
  margin: 40px auto;
}
.developed {
  width: auto;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 400;
  line-height: 50px;
  text-align: center;
}
.developed__link {
  display: inline-block;
  width: 30px;
  height: 35px;
  margin-left: 10px;
  margin-bottom: -10px;

  background-image: url("../img/htmlacademy.svg");
  background-repeat: no-repeat;
  background-position: center center;
  &:hover,
  &:focus {
    opacity: 0.3;
  }
}
@media (min-width: @tablet) {
  .page-footer {
    display: flex;
    width: 660px;
  }
  .page-footer__list {
    margin: 0 auto;
  }
}
@media (min-width: @desktop) {
  .page-footer {
    width: 1200px;
    margin: 70px auto;
  }
}
