.price__list {
  position: relative;
  left: 22px;

  display: flex;
  margin: 0;
  padding: 0;
  width: 833px;

  list-style: none;
}
.price__item {
  width: 275px;

  border:  2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
  &:nth-child(2) {
    border-left: none;
    border-right: none;
  }
}
.price__package {
  margin: 0;
  padding: 20px;

  text-align: center;

  font-size: 18px;
  line-height: 30px;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: @color-menu;
  & span {
    display: block;

    font-size: 24px;
    font-weight: 300;
  }

}
.price__table {

  width: 275px;

  border-collapse: collapse;
}
.table__name {
  padding: 0 20px;

  text-transform: uppercase;
  font-weight: 400;
  line-height: 60px;

  border-bottom: 2px solid #e5e5e5;
}
.table__active {
  width: 70px;
  padding: 0;

  background-image: url("../img/yes.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid #e5e5e5;
}
.table__noactive {
  width: 70px;
  padding: 0;

  background-image: url("../img/no.svg");
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid #e5e5e5;
}
.price__control {
width: 100%;
height: 100px;
padding: 37px 122px;
box-sizing: border-box;

background-color: #f2f2f2;
}
