.price {
  overflow: hidden;
}
.price__list {
  position: relative;
  left: 6.875vw;

  display: flex;
  margin: 0;
  padding: 0;
  width: 260.3125vw;

  list-style: none;
}
.price__item {
  display: block;
  width: 85.9375vw;

  border:  2px solid #e5e5e5;
  border-top: none;
  border-bottom: none;
  &:nth-child(2) {
    border-left: none;
    border-right: none;
  }
  &--active {
    display: block;
  }
}
.price__package {
  margin: 0;
  padding: 6.25vw;

  text-align: center;

  font-size: 5.625vw;
  line-height: 9.375vw;
  font-weight: bold;
  text-transform: uppercase;
  color: #ffffff;

  background-color: @color-menu;
  & span {
    display: block;

    font-size: 7.5vw;
    font-weight: 300;
  }

}
.price__table {

  width: 85.9375vw;

  border-collapse: collapse;
}
.table__name {
  padding: 0 6.25vw;

  text-transform: uppercase;
  font-weight: 400;
  line-height: 18,75vw;

  border-bottom: 2px solid #e5e5e5;
}
.table__active {
  width: 21.875vw;
  padding: 0;

  background-image: url("../img/yes.svg");
  background-size: 7vw;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid #e5e5e5;
}
.table__noactive {
  width: 21.875vw;
  padding: 0;

  background-image: url("../img/no.svg");
  background-size: 5vw;
  background-repeat: no-repeat;
  background-position: center center;
  border-bottom: 2px solid #e5e5e5;
}
.price__control__wrap {
  display: flex;
  align-items: center;
  height: 31.25vw;

  background-color: #f2f2f2;
}
.price__control {
  margin: 0 auto;
}
