body {
  position: relative;

  margin: 0;
  padding: 0;
  width: 320px;
  margin-left: auto;
  margin-right: auto;

  font-family: "Open Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color:#283645;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.button {
  display: block;
  width: 280px;
  height: 50px;

  border: 2px solid #ffffff;
  border-radius: 25px;
  text-align: center;

  font-size: 18px;
  line-height: 50px;
  text-decoration: none;
  font-weight: bold;
  color: #ffffff;
}
.author {
  display: block;

  text-align: center;

  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
}
.slider__control {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}
.slider__control__item {
  width: 25px;
  height: 25px;

  text-align: center;

  line-height: 25px;
}
.slider__toggle {
  width: 6px;
  height: 6px;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: #bec2c7;
  &--active {
    border: 2px solid #283645;
    width: 10px;
    height: 10px;

    background-color: #ffffff;
  }
}
