.slider__control {
  display: flex;
  margin: 0;
  padding: 0;
  width: 23.4375vw;

  list-style: none;
}
.slider__control__item {
  width: 7.8125vw;
  height: 7.8125vw;

  text-align: center;

  line-height: 7.8125vw;
}
.slider__toggle {
  width: 1.875vw;
  height: 1.875vw;
  padding: 0;

  border: none;
  border-radius: 50%;
  background-color: #bec2c7;
  &--active {
    border: 2px solid #283645;
    width: 3.125vw;
    height: 3.125vw;

    background-color: #ffffff;
  }
}
