body {
  position: relative;

  margin: 0;
  padding: 0;
  width: auto;
  margin-left: auto;
  margin-right: auto;

  font-family: "Open Sans", Arial, sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 30px;
  font-weight: 300;
  color:#283645;
}
img {
  width: 100%;
  height: auto;
}
.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.author {
  display: block;

  text-align: center;

  font-size: 18px;
  line-height: 25px;
  font-weight: bold;
  color: #000000;
}
.author--desc {
  display: none;
}
.hit {
  background-image: url("../img/hit.png");
  background-repeat: no-repeat;
  background-position: 0 0;
}
@media (min-width: @tablet) {
  .author--desc {
    display: block;
    order: 3;

    font-weight: 400;

    text-align: center;
  }
}
