.social__list {
  display: flex;
  justify-content: space-between;

  margin: 0;
  padding: 0;
  width: 180px;

  list-style: none;
}
  .social__link--tw {
    background-image: url("../img/twitter.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .social__link--fb {
    background-image: url("../img/facebook.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
  .social__link--yt {
    background-image: url("../img/youtube.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
.social__link {
  display: block;
  width: 45px;
  height: 45px;

  border: 3px solid #e9ebec;
  border-radius: 50%;
  &:hover,
  &:focus {
    border-color: @color-menu;
  }
  &:active {
    opacity: 0.1;
  }
}
